body {
    margin: 0;
}

header {
    margin: 0;
}

h1 {
    color: red;
}

nav {
    background-color: black;
    margin: 0;
}

.lista-navegacion {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.lista-navegacion li {
    list-style: none;
    display: inline-block;
    padding: 30px;
}

.lista-navegacion li a {
    color: white;
    text-decoration: none;
}

.section-redes {
    display: flex;
    justify-content: flex-end;
    background-color: black;
    color: white;
}

.lista-redes {
    margin: 0px;
    padding: 0;
}

.lista-redes li {
    list-style: none;
    display: inline-block;
}


.lista-redes img {
    height: 32px;
    width: 32px;
}
